*.asv
Klampt/environment/
Klampt/truetable/resoure/test
Klampt/truetable/resoure/128/xil_1.tmp
Klampt/truetable/resoure/singleVerilog/debug.log
*.aux
*.log
*.gz
paper/tex/FPGA-based Design of Real-time Robot Motion Planning.pdf
