[submodule "Klampt_Robotic_Arm_Script"]
	path = Klampt_Robotic_Arm_Script
	url = https://github.com/whutddk/Klampt_Robotic_Arm_Script.git
[submodule "PRMCcode"]
	path = PRMCcode
	url = https://github.com/whutddk/PRM_Ccode.git
