[submodule "PRMCcode"]
	path = PRMCcode
	url = https://github.com/whutddk/PRM_Ccode.git
[submodule "PRM-RA-Academic"]
	path = PRM-RA-Academic
	url = git@github.com:whutddk/PRM-RA-Academic.git
[submodule "Verilog_RA_Script"]
	path = Verilog_RA_Script
	url = git@github.com:whutddk/Verilog_RA_Script.git
[submodule "Klampt_Robotic_Arm_Script"]
	path = Klampt_Robotic_Arm_Script
	url = git@github.com:whutddk/Klampt_Robotic_Arm_Script.git
[submodule "Matlab_RA_Script"]
	path = Matlab_RA_Script
	url = git@github.com:whutddk/Matlab_RA_Script.git
[submodule "PRM-RA-PL"]
	path = PRM-RA-PL
	url = git@github.com:whutddk/PRM_RA_PL.git
[submodule "PRM_RA_PCB"]
	path = PRM_RA_PCB
	url = git@github.com:whutddk/PRM_RA_PCB.git
